<h1> Task </h1>
<h5>Title: <%= @task.title%></h5>
<h5>Details:<%=@task.details%></h5>
<h5>Completed? <%=@task.completed%></h5>

<h6> <%= link_to 'Edit this task', edit_task_path(@task) %> </h6>
<h6> <%= link_to 'Delete this task', task_path(@task), method: :delete %> </h6>

<p><%= link_to'Back to all tasks', tasks_path %></p>
